@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

.icon {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    filter: var(--icon-color);
    user-select: none;
    -webkit-user-drag: none;
}

body {
    @apply flex flex-col;
}

body > div:nth-child(1) {
    @apply h-screen sticky top-0;
}

.show_result > div:nth-child(1) {
    @apply h-12;
}

#result > div {
    width: 60vw;
}

#result h2 {
    @apply text-xl font-semibold underline;
}
#result h2 > a {
    color: #000;
}
